@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
    }
    .text-primary {
        @apply text-blue-500;
    }
    .text-limit-1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    /* width */
    .scrollbar-none::-webkit-scrollbar {
        width: 0px;
    }

    /* Track */
    .scrollbar-none::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .scrollbar-none::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .scrollbar-none::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    /* -------------------------------------------------------------------------- */
    /*                           custom scrollbar starts                          */
    /* -------------------------------------------------------------------------- */
    /* width */
    /* width */
    .custom-scrollbar::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .custom-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 50%;
    }

    /* Handle */
    .custom-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: #dcdcdc;
    }

    /* Handle on hover */
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        /* border-radius: 50%; */
        background: #555;
    }

    /* -------------------------------------------------------------------------- */
    /*                            custom scrollbar ends                           */
    /* -------------------------------------------------------------------------- */
    .text-limit-1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .text-limit-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}
